@model IEnumerable<WebApp.Models.PostulationViewModel>

@{
    ViewBag.Title = "Liste des postulations";
}

<h2>Liste des postulations</h2>

<table class="table">
    <tr>
        <th>
           Employe name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePostulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffreId)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employe.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePostulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffreId)
        </td>
    </tr>
}

</table>
